<div class="center jumbotron text-center">
<br><br>
<h1>Welcome a todos</h1>
<br><br>
<h2>Las peliculas estan aqui</h2>
<br>
</div>
  <div class="center container">
    <form action="/" method="post">
      <div class="col-md-6">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label>Search a movie :</label>  
          <input class="form-control" type="text" name="search"></br></br>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
      </div>
    </form>
  </div>

